*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
body{
  margin: 0;
}
/* On screens that are 500px wide or less*/
@media screen and (max-width: 1000px) {
  .menu{
    width: 15%;
    display: inline-block;
    cursor: pointer;
  }
  .ph, .plh, .search, .account{
    display: none;
  }
  .logo{
    width:70%;
  }
  .searchbox{
    width: 15%;
  }
  .searchbox img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(305deg) brightness(105%) contrast(103%);
  }
}
.navbar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: inset 1px 32px 35px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px 32px 35px -26px rgba(0,0,0,0.75);
  box-shadow: inset 1px 32px 35px -26px rgba(0,0,0,0.75);
}
/*Menu icon*/
@media screen and (min-width: 1001px) {
.menu{
  width: 5%;
  display: inline-block;
  cursor: pointer;
  }
  /*place holder*/
  .ph{
    width: 35%;
  }
  /*blog logo*/
  .logo{
    width: 20%;
  }
  /*search containment*/
  .searchbox{
    width: 25%;
    background: gray;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #E0E0E0;
  }
  /*place holder*/
  .plh{
    width: 10%;
  }
  .search{
    width: 90%;
    padding: 2px;
    font-size: 20px;
    background-color: #E0E0E0;
    border: 0;
  }
  .searchbox img{
    width:10%;
  }

  /*account containment*/
  .account{
    width: 5%;
  }
  .account img{
  }
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #E0E0E0;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}





/*Begining of main body*/
.section1 img{
  width: 100%;
}
.section1{
  height: 600px;
  overflow: hidden;
  background: black;
    text-align: center;
}
/*in the first section of main body*/
.welcome{
  position: absolute;
  margin-top: 400px;
  height: 200px;
  width: 100%;
  -webkit-box-shadow: inset 49px -129px 64px 17px rgba(0,0,0,0.91);
  -moz-box-shadow: inset 49px -129px 64px 17px rgba(0,0,0,0.91);
  box-shadow: inset 49px -129px 64px 17px rgba(0,0,0,0.91);
}
.bigmessage{
  font-size: 40px;
  font-weight:bold;
  padding: 20px;
  color: white;
}
.message{
  font-size: 20px;
  padding-left: 20px;
  color: white;
}

/*things at the second section*/
.section2, .section3{
  padding: 80px;
}
.bigrow1{
  padding: 20px;
}
.info{
  font-size: 30px;
  font-weight:bold;
  margin: 0 100px;
}
.row1{
  display: flex;
  justify-content: center;
}

.col1{
  width: 350px;
  height: 432px;
  border-radius: 6px;
  margin: 30px;
  -webkit-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);

}
.ad1{
margin: 30px;
height: 432px;
width: 250px;
background: #f7f7f7;
}
.ad2{
margin: 30px;
height: 432px;
  width: 660px;
  background: #f7f7f7;
}
.head img{
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
}
.midup{
  height: 20px;
  font-size: 20px;
  padding: 15px;

  font-weight:bold;
}
.midlow{
  height: 110px;
  text-align: justify;
  padding:15px;
  color: #999999;
}
.tail{
  background: #0fa6d4;
  text-align: center;
  border-radius: 0 0 6px 6px;
  padding: 10px;
  color: white;
}
.tail:hover{
    background: #0281db;
}
/*things at the 3rd section*/
.section3{
  background: #f7f7f7;
}
.row2{
  margin-top: 100px;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.col2{
  background: #e6f2ff;
    width: 200px;
    height: 273px;
    border-radius: 6px;
    margin: 30px;
    -webkit-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);

}
.col2:hover{
  background: #f5fbfc;
  cursor: pointer;
}
/*Contents of the columns in the second row.*/
.top2a img{
  width: 150px;
  height: 150px;
  margin-top: -100px;
}
.top2b{
  padding: 0 15px 0 15px;
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mid2a, .mid2b{
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
     overflow: hidden;
}
.mid2a{
}

.mid2b{
}
.mid2a img, .mid2a p, .mid2b img, .mid2b p{
  margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;

}
.btm2a{
  padding: 15px 15px 0 15px;
  font-size: 14px;
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #8c8c8c;
}
.btm2b{
  display: flex;
  padding: 10px 15px 10px 15px;
  height: 20px;
  border-radius:0 0 6px 6px;
    overflow: hidden;
}
.rtng{
  border-radius: 50%;
  background: #d9d9d9;
  height:15px;
  width: 15px;
  margin: 0 10px 0 0;
}
.ad3{
    width: 300px;
    height: 273px;
    background: #ebebeb;
    margin: 30px;
}
.ad4{
  background: #ebebeb;
    margin: auto;
    width: 1080px;
    height: 200px;
}
.more{
  background: #e88300;
  color: #EEEEEE;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  font-size: 25px;
  margin: auto;
}
.more:hover{
  background: #db7902;
  -webkit-box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.75);
box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.75);
}
.more img{
  margin-left: 20px;
}
.load{
  width:150px;
}
.footer{
    justify-content: center;
  display: flex;
  background: #131b1c;
  color: #cfcfcf;
  padding: 50px;
}
.ftop, .fbtm{
  display: flex;
  width: 100px;
  align-items: center;
}
.ftop p, .fbtm p, .ftop img, .fbtm img{
  margin-left: 20px;
  color: #cfcfcf;
}
.f1, .f2, .f3{
  margin-left: 100px;
  margin-right: 100px;
}
.ftop p:hover, .fbtm p:hover {
  color: #a8a8a8;
}
.sectionOne{
  height: 400px;
  overflow: hidden;
  }
.sectionTwo{
}
.topic{
  display: flex;
  background: rgba(0,0,0,0.8);
  height: 400px;
  position: absolute;
  z-index: 2;
  top: 0;
  width: calc(100% - 100px);
  color: white;
  padding-left: 100px;
  line-height: 400px;
  text-shadow: 2px 2px #0d0d0d;
  font-size: 50px;
  font-weight: bold;
}
/*For the next story button*/
.clicknext{
  position: absolute;
  right: 80px;
  top: 320px;
  z-index: 3;
}
.nextStory{
    background: #e3e3e3;
  font-weight: bold;
  display: flex;
  width: 250px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
}
.nextStory:hover{
    cursor: pointer;
}
.next{
  display: hidden;
    letter-spacing:2px;
    text-align: center;
  position: absolute;
    height: 50px;
    width: 100px;
    color: white;
    line-height: 50px;
    text-shadow: 2px 2px #0d0d0d;
    opacity: 0;
}
.next:hover{
  opacity: 1;
  background: rgba(0,0,0,0.5);
}
.storyPic{
  width: 100px;
  height: 50px;
  overflow: hidden;
}
.storyPic img{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.storyHead{
  padding: 10px;
  width: 130px;
  height: 30px;
  overflow: hidden;
  color: #1c1c1c;
}
.aro{
  position: absolute;
  right: -50px;
}
.aro img{
  height: 45px;
}
.sectionTwo{
  display: flex;
  justify-content: center;
}
.news{
  width: 700px;
  background: #f8f7ff;
  margin-top: -35px;
  position: relative;
  z-index: 3;
  border-radius: 15px;
}
.atop{
  padding:20px 50px 0;
  height: 50px;
  font-size: 20px;
  color: #5c5c5c;
  -webkit-box-shadow: 0px -12px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -12px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px -12px 11px -1px rgba(0,0,0,0.75);
}
.sub{
  font-weight: bold;
}
.detail{
  padding:10px 50px;
  line-height: 25px;
  text-align: justify;
}
.storyImg{
  display: block;
  width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.detailImg p{
  font-size: 12px;
}
.detailAd{
  width: 100%;
  background: #ebebeb;
  height: 200px;

}
.adsec{
  padding:10px 50px;
  width: 400px;
}
.day{
  font-size: 13px;
}
.author{
  margin-top: 20px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
  border-radius: 5px;
  background: #f8f7ff;
}
.authorPic img{
  width: 80px;
  margin: 10px;
}
.authorName{
  line-height: 30px;
}
.designation{
  font-size: 13px;
}
.sideAds{
  margin-top: 20px;
  height: 300px;
  background: #ebebeb;
}
/*Related news section*/
.similarLabel{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.similar{
  width: 100%;
}
.gridRow{
  display: flex;
  justify-content: center;
}
.gridCell{
  margin: 10px 5px;
  width: 190px;
  height: 149px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
}
.similarPic{
  overflow: hidden;
  height: 100px;
  background: black;
}
.similarPic img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.similarTopic{
  background: white;
  font-weight: bold;
  padding: 5px;
  overflow: hidden;
  border-radius: 0  0 5px 5px;
}
/*Next story*/
.upComing{
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background: white;
  margin: 0px 50px 50px;
  height: 180px;
  -webkit-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
}
.upPic{
  width: 400px;
  background: black;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.upPic img{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.upDetails{
  padding: 10px;
}
.upRow{
  color: #1f1f1f;
  height: 50px;
  line-height: 50px;
  display: flex;
}
.upImg img{
  position: absolute;
  right: 100px;
  width: 50px;
}
.upTopic{
  font-size: 20px;
  font-weight: bold;
  color: #5e5e5e;
}
