*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
body{
  margin: 0;
}
.navbar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: inset 1px 32px 35px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px 32px 35px -26px rgba(0,0,0,0.75);
  box-shadow: inset 1px 32px 35px -26px rgba(0,0,0,0.75);
}
/*Menu icon*/
.menu{
  width: 5%;
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #E0E0E0;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*place holder*/
.ph{
  width: 35%;
}

/*blog logo*/
.logo{
  width: 20%;
}

/*place holder*/
.plh{
  width: 10%;
}
/*search containment*/
.searchbox{
  width: 25%;
  background: gray;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #E0E0E0;
}
.search{
  width: 90%;
  padding: 2px;
  font-size: 20px;
  background-color: #E0E0E0;
  border: 0;
}
.searchbox img{
  width:10%;
}

/*account containment*/
.account{
  width: 5%;
}
.account img{
}

/*Begining of main body*/
.section1 img{
  float: left;
}
.section1{
  height: 600px;
  overflow: hidden;
  background: black;
    text-align: center;
}
/*in the first section of main body*/
.welcome{
  position: absolute;
  margin-top: 400px;
  height: 200px;
  width: 100%;
  -webkit-box-shadow: inset 49px -129px 64px 17px rgba(0,0,0,0.91);
  -moz-box-shadow: inset 49px -129px 64px 17px rgba(0,0,0,0.91);
  box-shadow: inset 49px -129px 64px 17px rgba(0,0,0,0.91);
}
.bigmessage{
  font-size: 40px;
  font-weight:bold;
  padding: 20px;
  color: white;
}
.message{
  font-size: 20px;
  padding-left: 20px;
  color: white;
}

/*things at the second section*/
.section2, .section3{
  padding: 80px;
}
.bigrow1{
  padding: 20px;
}
.info{
  font-size: 30px;
  font-weight:bold;
}
.row1{
  display: flex;
}

.col1{
  width: 350px;
  height: 432px;
  border-radius: 6px;
  margin: 30px;
  -webkit-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);


}
.ad1{
margin: 30px;
height: 432px;
width: 250px;
background: #f7f7f7;
}
.ad2{
margin: 30px;
height: 432px;
  width: 660px;
  background: #f7f7f7;
}
.head img{
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
}
.midup{
  height: 20px;
  font-size: 20px;
  padding: 15px;

  font-weight:bold;
}
.midlow{
  height: 110px;
  text-align: justify;
  padding:15px;
  color: #999999;
}
.tail{
  background: #0fa6d4;
  text-align: center;
  border-radius: 0 0 6px 6px;
  padding: 10px;
  color: white;
}
.tail:hover{
    background: #0281db;
}
/*things at the 3rd section*/
.section3{
  background: #f7f7f7;
}
.row2{
  margin-top: 100px;
  display: flex;
  padding: 20px;
}
.col2{
  background: #e6f2ff;
    width: 200px;
    height: 273px;
    border-radius: 6px;
    margin: 30px;
    -webkit-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);

}
.col2:hover{
  background: #f5fbfc;
  cursor: pointer;
}
/*Contents of the columns in the second row.*/
.top2a img{
  width: 150px;
  height: 150px;
  margin-top: -100px;
}
.top2b{
  padding: 0 15px 0 15px;
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mid2a, .mid2b{
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
     overflow: hidden;
}
.mid2a{
}

.mid2b{
}
.mid2a img, .mid2a p, .mid2b img, .mid2b p{
  margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;

}
.btm2a{
  padding: 15px 15px 0 15px;
  font-size: 14px;
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #8c8c8c;
}
.btm2b{
  display: flex;
  padding: 10px 15px 10px 15px;
  height: 20px;
  border-radius:0 0 6px 6px;
    overflow: hidden;
}
.rtng{
  border-radius: 50%;
  background: #d9d9d9;
  height:15px;
  width: 15px;
  margin: 0 10px 0 0;
}
.ad3{
    width: 300px;
    height: 273px;
    background: #ebebeb;
    margin: 30px;
}
.ad4{
  background: #ebebeb;
    margin: 0 50px;
    width: 1080px;
    height: 200px;
}
.more{
  background: #e88300;
  color: #EEEEEE;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  font-size: 25px;
  margin: auto;
}
.more:hover{
  background: #db7902;
  -webkit-box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.75);
box-shadow: 2px 2px 13px -5px rgba(0,0,0,0.75);
}
.more img{
  margin-left: 20px;
}
.load{
  width:150px;
}
.footer{
    justify-content: center;
  display: flex;
  background: #131b1c;
  color: #cfcfcf;
  padding: 50px;
}
.ftop, .fbtm{
  display: flex;
  width: 100px;
  align-items: center;
}
.ftop p, .fbtm p, .ftop img, .fbtm img{
  margin-left: 20px;
  color: #cfcfcf;
}
.f1, .f2, .f3{
  margin-left: 100px;
  margin-right: 100px;

}
.ftop p:hover, .fbtm p:hover {
  color: #a8a8a8;
}
